{% extends 'homepage.html' %}

{% block menu_block %}
<li><a href="{% url 'homepage' %}">HOME</a></li><br>
<li><a href="{% url 'ssh_homepage' %}">LINUX</a></li><br>
<li><a href="{% url 'wssh_homepage' %}">WINDOWS</a></li><br>
{% endblock %}

{% block display_block %}
<center><h1>Goodbye Manual, Welcome Automation</h1>
<h3>Please feel free to talk with servers</h3>
<li>You can run linux commands remotely</li>
<li>You can run windows commands remotely</li>
<p style="color:red">{{ user }}</p>
</center>
{% endblock %}
