{% extends 'homepage.html' %}
{% block menu_block %}
<li><a href="http://8000/">HOME</a><li><br>
<li><a href="{% url 'cv_homepage' %}">CHEF VERSION</a><li><br>
{% endblock %}
{% block display_block %}
<button onclick="exportTableToCSV('output_data.csv')">Export Output To CSV File</button><br><br>
{% if cv_solo_output.empty == False  %}
<table border="1px">
	<tr><th>Hostnames</th><th>Output</th><th>Status</th></tr>
        {% for index,row in cv_solo_output.iterrows %}
 		<tr><td>{{ index }}</td><td>{{ row.Output }}</td><td>{{ row.Status }}</td></tr>
   	{% endfor %}
</table>
{% endif %}
{% if cv_multi_output %}
  <table border="1px">
	<tr><th>Hostnames</th><th>Runlist</th><th>Status</th></tr>
	{% for host in cv_multi_output %}
		{% for index,row in host.iterrows %}
        	<tr><td>{{ index }}</td><td>{{ row.Output }}</td><td>{{ row.Status }}</td></tr>
		{% endfor %}
 	{% endfor %} 
  </table>
{% endif %}
{% endblock %}

