{% extends 'homepage.html' %}
{% block menu_block %}
<li><a href="http://:8000/">HOME</a><li><br>
<li><a href="{% url 'cv_homepage' %}">CHEF VERSION</a><li><br>
{% endblock %}
{% block display_block %}
<center>
<form action="{% url 'cv_solo_input' %}" method='post'>
{% csrf_token %}
<label>Enter server name:&emsp;<input type='text'  name='server'></label><br>
<label>Enter username:&emsp;<input type='text' name='username' placeholder = 'CID/ROOT'></label><br>
<label>Enter passowrd:&emsp;<input type='password' name='password'</label><br>
<label><input type='submit' value='Submit'></label>
</form>
<p>OR</p>
<form method="post" action="{% url 'cv_multi_input' %}" enctype="multipart/form-data">
{% csrf_token %}
<label>Enter Servers list:&emsp;<input type="file" name="server_file"></label><br><br>
<label>Enter username:&emsp;<input type='text' name='username' placeholder='CID/ROOT'></label><br>
<label>Enter passowrd:&emsp;<input type='password' name='password'></label><br>
<label><input type="submit" value="Submit"></label>
</form>
</center>
{% endblock %}

